.btn {
    @apply inline-flex justify-center items-center py-2 px-6 rounded-full transition;

    &-orange {
        background: rgba(238,121,32, 1);
        background: linear-gradient(90deg, rgba(238,121,32, 1) 0%, rgba(255,0,0, 1) 100%);
        @apply text-white uppercase font-bold;
        &:hover {
            background: rgba(209, 99, 16, 1);
            background: linear-gradient(90deg, rgba(209, 99, 16, 1) 0%, rgba(224,0,0, 1) 100%);
        }
    }

    &-white {
        @apply bg-white text-black transition;
        &:hover {
            @apply bg-black text-white;
        }
    }
}

@responsive {
    .btn-xl {
        @apply py-3 px-12;
    }
}